<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.boxer.applojatm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cart_icon_blue"
        android:label="@string/app_name"


        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClienteFormActivity"
            android:label="@string/title_activity_cliente_form"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClienteDadosActivity"
            android:label="@string/title_activity_cliente_dados"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClienteAlterarActivity"
            android:label="@string/title_activity_cliente_alterar"
            android:parentActivityName=".ClienteDadosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>